<h4>Professional Details</h4>
<div class=form-group>
  <label>Experience in years:</label>
  <input class="form-control" type="number" [(ngModel)]="employeeProfessional.ExpinYears"/>
</div>
<div class="form-group">
  <label>Current Designation</label>
  <input type="text" class="form-control" [(ngModel)]="employeeProfessional.currentDesignation" />
</div>
<div class="form-group">
  <label>Date of Joining</label>
  <input type="date" class="form-control" [(ngModel)]="employeeProfessional.DOJ" />
</div>